<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>RECOVU</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3" onclick="location.href='/">
                    <i class="fa fa-wallet d-md-none rounded-circle mr-3"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow" >
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <img class="img-profile rounded-circle"
                                 src="{{ profile_url }}">

                        </a>
                        <!-- Dropdown - User Profile -->
                        <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                             aria-labelledby="messagesDropdown">
                            <h6 class="dropdown-header">
                                Profile
                            </h6>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <div class="dropdown-list-image mr-3">
                                    <img class="img-profile rounded-circle"
                                         src="{{ profile_url }}">
                                </div>
                                <div class="font-weight-bold">
                                    <div class="text-truncate">
                                        이름 : {{ name }}
                                    </div>
                                    <div class="small text-gray-500">
                                        나이 : {{ ageg }}, 성별 : {{ geng }}, 직업 : {{ jobseg }}
                                    </div>
                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                </div>

                <!-- Content Row -->
                <div class="row">

                    <!-- 광고 배너 -->
                    <div id="banner" class="col-xl-3 col-md-6 mb-4">
                        <div id="banner_prod" style="display:none">{{ prod }}</div>
                        <div class="card border-left-primary shadow h-80 py-1">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-auto" style="right:10px;">
                                        <img class="text-gray-300" style="width: 5rem;" src="{{ bnnr_url }}">
                                    </div>
                                    <div class="col mr-2" style="left:10px;">
                                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                            {{ title }}
                                        </div>
                                        <div class="text-ms mb-0 font-weight-bold text-gray-800">
                                            {{ sub_text }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of 광고 배너 -->

                </div>
                <!-- End of Content Row -->

                <!-- 상품목록 -->
                <div class="col-xl-3 col-md-6 mb-4">

                    <!-- 예적금 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-secondary">예적금</h6>
                        </div>
                        <div class="card-body">
                            <div class="text-center" src="../static/img/account.png">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 15em;"
                                     src="../static/img/account.png" alt="">
                            </div>
                            <a href="#" class="btn btn-light btn-icon-split">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                <span class="text">상품 더 알아보기</span>
                            </a>
                        </div>
                    </div>

                    <!-- 대출 -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold">대출</h6>
                        </div>
                        <div class="card-body">
                            <div class="text-center">
                                <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10em;"
                                     src="../static/img/loan.png" alt="">
                            </div>
                            <a href="#" class="btn btn-light btn-icon-split">
                                        <span class="icon text-gray-600">
                                            <i class="fas fa-arrow-right"></i>
                                        </span>
                                <span class="text">상품 더 알아보기</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of 상품목록 -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; RECOVU 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">로그아웃 안내</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">정말 로그아웃 하시겠습니까?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">취소</button>
                    <form class='logout' method="POST" action="/logout">
                        <button id="btn-logout" class="btn btn-primary">로그아웃</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="../static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="../static/js/demo/chart-area-demo.js"></script>
    <script src="../static/js/demo/chart-pie-demo.js"></script>

    <!-- Login/out check && Logout Common {#window.location.href = response.redirect#} -->
    <script src="../static/js/login-checker.js"></script>

    <script>
        $('#banner').click(function(){

            var click_prod = $('#banner_prod').text()

            $.ajax({
                url: "/prod",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(
                    {
                        'prod':click_prod
                    }
                ),
                dataType: 'text',
                success: function(response) {

                    response = JSON.parse(response)
                    window.location.href = response.url

                }
            })
        });
    </script>

</body>

</html>
